#allMessage {
    height: auto;
    width: 33%;
    display: flex;
    flex-direction: column;
}

.selectorButton {
    width: 100px;
    height: 18px;
    margin-left: 25%;
}

.selection {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.selectorLabel {
    margin-left: auto;
}

h1 {
    text-align: center;
}

#window {
    display: flex;
    flex-direction: row;
}

#fillIn {
    background-color: grey;
    width: 33%;
    margin-left: auto;
    margin-right: 10%;
    white-space: pre-line;
    display: flex;
    flex-direction: column;
}

#fillInText {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#fillInTextCol2 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#fillInButtons {
    display: flex;
    flex-direction: row;
}